---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1>about</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores eos obcaecati eaque neque, necessitatibus corrupti quas iure minima quaerat soluta aspernatur quod voluptate quibusdam dolores
    atque error? Quo consequatur veritatis exercitationem officiis quae, doloribus perferendis esse quis eaque ipsam magni voluptas, quidem optio totam eum autem! Dicta nam aspernatur maiores error
    cum. Consequatur molestias, ullam dicta nemo laudantium non cumque repellat vitae numquam provident soluta, atque sunt, blanditiis sed? Asperiores officiis repellat alias consequatur nesciunt
    pariatur commodi sit debitis, dolorum quia et tempora molestias! Enim quidem repellendus distinctio odit quasi, commodi asperiores totam perspiciatis rem exercitationem omnis neque, maxime et!
  </p>
</Layout>
