<footer class="bg-zinc-900 py-14 mt-6">
  <div class="container mx-auto flex  flex-col  md:flex-row  justify-evenly text-center md:text-left gap-4">
    <div>
      <h4 class="text-xl font-bold">Site Map</h4>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/pricing">Princing</a>
    </div>

    <div>
      <h4 class="text-xl font-bold">Site Map</h4>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
    </div>

    <div>
      <h4 class="text-xl font-bold">SocialLinks</h4>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/pricing">Princing</a>
    </div>
  </div>
</footer>
